<div id="login_form">
  <% form_for @user_session do |f| %>
    <%=f.label :login%><br/>
    <%=f.text_field :login %><br/>
    <%=f.label :password %><br/>
    <%=f.password_field :password %><br/>
    <%=submit_tag "Login"%>
  <% end %>
</div>
